
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
  
/* @media (min-width: 1440px){ */
    
    body {
        margin: 0;
        background-color: #130125;;
    }

    .page {
        display: block;
        width: 90%;
    }

    /* 
    header  
    */

    .page-header {
        display: flex;       
        justify-content: space-between;
        align-items: center;
        padding: 32px 80px;
        height: 100px;        
    }

    .page-header-left-links {
        display: flex;               
        align-items: center;
        margin: 8px 0 8px 0;
    }
    
    .name {
        display: block;        
        min-width: 173px;
        height: 36px;
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        text-transform: capitalize;        
        color: #FFFFFF;        
    }

    .navigation-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style-type: none;        
        height: 22px;
    }

    .navigation-item {
        display: block;
        padding: 0;
    }
    .navigation-item:not(:last-child) {
        margin-right: 32px;      
    }

    .navigation-item:last-child {
        margin-right: 0;
    }

    .navigation-link {
        width: 47px;
        height: 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
    }

    /* 
    main  
    */
    
    .main-index {
        margin: 0;        
    }

    .promo-container {
        display: block;
        padding: 160px 80px;
        height: 622px;    
        background: #130125;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;        
    }

    .promo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 302px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .greeting {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 0 40px 0;
        padding: 0;
        height: 206px;
        box-sizing: border-box;
    }

    .hi {
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;        
        color: #FFFFFF;      
        margin: 0 0 32px 0;    
        box-sizing: border-box;      
    }

    .portfolio {
        height: 30px;
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;       
        box-sizing: border-box;  
    }

    .CV-button {
        display: block;
        padding: 16px 24px;
        width: 200px;
        height: 56px;        
        background: #FD5A14;
        border-radius: 2px;
        box-sizing: border-box; 
    }

    .CV-button-text {
        display: block;
        width: 152px;
        height: 24px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;

        text-align: center;

        color: #FFFFFF;
        box-sizing: border-box; 
    }

    .about-container {
        display: block;
        margin: 0;
        padding: 160px 80px;
        height: 640px;
        background: #130125;
        border-top: 1px solid rgba(255, 255, 255, 0.2);       
        box-sizing: border-box;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 320px;
        margin: 0;
        padding: 0;    
        box-sizing: border-box;    
    }

    .about-text {
        display: block;
        margin: 0;
        padding: 0;
        width: 630px;
        height: 302px;    
        box-sizing: border-box;    
    }

    .about-image {
        box-sizing: border-box;
        width: 333px; 
        height: 320px; 
        border: 4px solid #FD5A14;       
    }

    .about-description-container {        
        margin: 0 0 40px 0;
        padding: 0;        
        width: 629px;
        height: 194px;            
    }

    .about-text-header {
        width: 629px;
        height: 72px;        
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;        
        color: #FFFFFF;
        margin: 0 0 32px 0;
        padding: 0;
    }

    .about-text-description {
        width: 629px;
        height: 90px;        
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;        
        color: #FFFFFF;
        margin: 0;
        padding: 0;        
    }

    .skills-list {    
        display: grid;
        grid-template-columns: repeat(2, 305px);
        column-gap: 20px;
        row-gap: 24px;
        margin: 0;
        padding: 0;        
        width: 630px;
        height: 68px;                
    }

    .skills-list-item {
        display: block;
        margin: 0;
        padding: 0;
        width: 305px;
        height: 22px;        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;        
        color: #FFFFFF;   
    }

    .experience-container {        
        display: block;
        margin: 0;
        padding: 160px 80px;
        height: 1002px;        
        background: #130125;
        border-top: 1px solid rgba(255, 255, 255, 0.2);                     
        box-sizing: border-box;
    }

    .experience-info {
        display: block;
        margin: 0;
        padding: 0;        
        height: 652px;          
    }

    .experience-header {
        margin: 0 0 64px 0;
        padding: 0;        
        height: 72px;
        
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        
        color: #FFFFFF;
                
    }

    .experience-list {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 48px;
        margin: 0;
        padding: 0;            
        height: 516px;    
        width: 100%;    
        /* box-sizing: border-box;         */
    }

    .experience-list-item {
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 20px;
        padding: 0;
        height: 140px;
        width: 100%;
        /* box-sizing: border-box; */
    }

    .experience-list-item-period-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 140px;
        /* box-sizing: border-box;     */
    }

    .experience-list-item-period {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 22px;
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
        color: #FFFFFF;         
        /* box-sizing: border-box;          */
    }
    
    .experience-list-item-description {
        display: grid;
        grid-template-columns: 100%;  
        margin: 0;
        padding: 0;
        width: 100%;
        height: 140px;
        /* box-sizing: border-box;       */
    }

    .experience-list-item-role-in-company {
        display: grid;
        grid-template-columns: 22px 1fr;
        column-gap: 12px;
        margin: 0 0 8px 0;
        padding: 0;
        width: 100%;
        height: 22px;
        /* box-sizing: border-box;       */
    }

    .experience-list-item-role-pointer {
        display: block;
        margin: 0;
        padding: 0;
        width: 22px;
        height: 22px;
        background: #FD5A14;
        border-radius: 24px;
        /* box-sizing: border-box;       */
    }

    .experience-list-item-role-text {
        display: block;
        width: 100%;
        height: 22px;        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        /* box-sizing: border-box;       */
    }
    
    .experience-list-item-city-container {
        display: grid;
        grid-template-columns: 22px 1fr;
        column-gap: 12px;
        margin: 0 0 8px 0;
        padding: 0;
        width: 100%;
        height: 22px;
        /* box-sizing: border-box;       */
    }
    
    .experience-list-item-city-pointer {
        display: block;
        margin: 0;
        padding: 0;
        width: 22px;
        height: 22px;        
        border-radius: 24px;
        /* box-sizing: border-box;       */
        background-image: url("../images/icons/almaty.gif");
    }

    .experience-list-item-city {
        width: 100%;
        height: 22px;  
        margin: 0 0 16px 0;
        padding: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .experience-list-item-responsobilites {
        width: 100%;
        height: 72px;  
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;     
        margin: 0;
        padding: 0;           
    }

    .my-projects-header {
        margin: 0;
        padding: 160px 80px 64px;
        height: 296px;
        background: #130125;
        border-top: 1px solid rgba(255, 255, 255, 0.2);        
        box-sizing: border-box;
    }

    .my-projects-header-title {
        display: block;
        height: 72px;
        margin: 0;
        padding: 0;
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        color: #FFFFFF;        
    }

    .my-projects-list {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
    }

    .my-first-project-item {
        display: block;
        margin: 0;
        padding: 64px 80px;
        height: 516px;        
        background: #130125;
        box-sizing: border-box;
    }

    .my-first-project{
        display: grid;
        grid-template-columns: 626px 1fr;
        align-items: center;
        column-gap: 186px;
        margin: 0;
        padding: 0;
        height: 388px;    
    }

    .my-first-project-image {
        box-sizing: border-box;
        width: 626px;
        height: 388px;                
        border: 4px solid #FD5A14;
    }

    .my-first-project-description {
        display: block;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 468px;
        height: 314px;
        margin: 0;
        padding: 0;
    }

    .my-first-project-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;        
        width: 468px;
        height: 206px;   
        margin: 0 0 40px 0;
        padding: 0;     
    }

    .my-first-project-title {
        width: 468px;
        height: 54px;        
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    .my-first-project-role {
        width: 468px;
        height: 120px;        
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;        
        color: #FFFFFF;
    }

    .my-first-project-languages-list {
        display: grid;
        grid-template-columns: 100%;
        list-style-type: circle;
        row-gap: 24px;
        margin: 0;
        padding: 0;        
        width: 305px;
        height: 68px;
    }

    .my-first-project-languages-item {
        display: block;
        margin: 0;
        padding: 0;
        width: 305px;
        height: 22px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;        
        color: #FFFFFF;        
    }

    .contacts-container {
        box-sizing: border-box;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 160px 80px;
        height: 550px;        
        background: #130125;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .contacts {
        display: block;
        margin: 0;
        padding: 0;
        height: 230px;
    }

    .say-me-hello-container {
        display: block;
        margin: 0 0 40px 0;
        padding: 0px;                
        height: 134px;
    }

    .say-me-hello {
        height: 72px;        
        font-family: 'Courier New';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        color: #FFFFFF;
        margin: 0 0 32px 0;
        padding: 0;
    }

    .who-is-i {
        width: 629px;
        height: 30px;        
        font-family: 'Kanit';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .say-me-hello-button-container {
        margin: 0;
        padding: 16px 24px;
        
        width: 159px;
        height: 56px;
        
        background: #FD5A14;
        border-radius: 2px;
    }

    .page-footer {
        box-sizing: border-box;        
        padding: 32px 80px;
        height: 102px;        
        background: #130125;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    .page-footer-container {
        display: flex;
        justify-content: space-between;
        height: 38px;
    }


  /* } *
