.page {
    outline: 2px dashed black;  
}

/* 
header  
*/

.page-header {
    outline: 1px solid red;  
}

.page-header-left-links {
    outline: 1px solid green;  
}

.name {
    outline: 1px solid blue;     
}

.navigation-list {
    outline: 1px solid gray;  
}

.navigation-item {
    outline: 1px solid tomato;  
}
.navigation-item:not(:last-child) {
    outline: 1px solid hotpink;  
}

.navigation-item:last-child {
    outline: 1px solid green;  
}

.navigation-link {
    outline: 1px solid black;  
}

/* 
main  
*/

.main-index {
    outline: 1px solid orange;      
}

.promo-container {
    outline: 1px solid yellow;  
}

.promo {
    outline: 1px solid lightpink;  
}

.greeting {
    outline: 1px solid green;  
}

.hi {
    outline: 1px solid blue;  
}

.portfolio {
    outline: 1px solid red;  
}

.about-container {
    outline: 3px dashed green; 
}

.about {
    outline: 1px solid navy; 
}

.about-text {
    outline: 5px dashed black; 
}

.about-text-description {
    outline: 3px dashed yellow; 

}

.about-text-header {
    outline: 1px solid purple; 
}


.about-description-container {
    outline: 1px solid white; 
}

.skills-container {    
    outline: 1px solid blueviolet;      
}

.skills-list {
    outline: 1px solid green;       
}

.skills-list-item {
    outline: 1px solid blue;                
}